@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", "Fraunces", sans-serif;
  font-size: 18px;
}

header {
  height: 100vh;
}

.background {
  position: absolute;
  width: 99vw;
  height: 100vh;
}

.background-landing {
  position: absolute;
  width: 100%;
}

.background img {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 2;
  position: relative;
}

.links {
  position: relative;
  z-index: 2;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  font-family: "Barlow", sans-serif;
  color: #fff;
  margin-right: 50px;
  cursor: pointer;
}

.contact-btn {
  font-family: "Fraunces", serif;
  font-size: 18px;
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 30px;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
}

.contact-btn:hover {
  color: #fff;
  background-color: #32b1f1;
  transition: 0.5s;
}

.navbar img {
  width: 10%;
}

.burger img {
  width: auto;
}

.burger {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.content h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 5rem;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  z-index: 2;
  position: relative;
}

.landing {
  display: flex;
}

.contents {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
}

.landing-sections {
  font-family: "Barlow", sans-serif;
  width: 50%;
}

.workspace-sections {
  font-family: "Barlow", sans-serif;
  width: 50%;
  height: 100%;
}

.egg img {
  width: 100%;
  height: 100%;
}

.cup img {
  width: 100%;
}

.row-landing {
  display: flex;
  flex-direction: row-reverse;
}

.row-landing-02 {
  display: flex;
  flex-direction: row-reverse;
}

.row-workspace {
  display: flex;
  height: 80vh;
}

.section-without-bg-01 {
  margin-top: 10rem;
  margin-right: 16rem;
  margin-left: 9rem;
}

.section-without-bg-01 h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}

.section-without-bg-02 {
  margin-top: 10rem;
  margin-right: 16rem;
  margin-left: 9rem;
}

.section-without-bg-02 h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}

.description {
  padding-top: 2rem;
  color: hsl(232, 10%, 55%);
}

.learn-01 {
  font-family: "Fraunces", serif;
  margin-top: 2rem;
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  cursor: pointer;
  letter-spacing: 0.5px;
  z-index: 1;
}

.learn-02 {
  font-family: "Fraunces", serif;
  margin-top: 2rem;
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  cursor: pointer;
  letter-spacing: 0.5px;
  z-index: 1;
}

.learn-01::before {
  content: "";
  position: absolute;
  width: 135px;
  height: 7px;
  background: hsl(51, 100%, 49%);
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.2s linear;
  margin-top: 18px;
}

.learn-01:hover:before,
.learn-01:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.learn-02::before {
  content: "";
  position: absolute;
  width: 135px;
  height: 7px;
  background: hsl(7, 99%, 70%);
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.2s linear;
  margin-top: 18px;
}

.learn-02:hover:before,
.learn-02:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.cherry {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.background-landing img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.orange {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.cherry h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(167, 40%, 24%);
  position: relative;
  padding-top: 15rem;
  padding-bottom: 1rem;
}

.cherry p {
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 28px;
  position: relative;
  padding-right: 13rem;
  padding-left: 13rem;
}

.orange h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(198, 62%, 26%);
  position: relative;
  padding-top: 15rem;
  padding-bottom: 1rem;
}

.orange p {
  color: hsl(198, 62%, 26%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 28px;
  position: relative;
  padding-right: 13rem;
  padding-left: 13rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10rem;
}

.testimonials h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: hsl(232, 10%, 55%);
}

.clients {
  margin-top: 5rem;
}

.row-clients {
  width: 100%;
  display: flex;
}

.emily {
  margin: 3rem;
  text-align: center;
}

.emily img {
  margin-bottom: 4rem;
  width: 25%;
  border-radius: 50%;
}

.emily p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: hsl(213, 9%, 39%);
  margin-bottom: 4rem;
  line-height: 30px;
}

.emily h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.thomas {
  margin: 3rem;
  text-align: center;
}

.thomas img {
  width: 25%;
  border-radius: 50%;
  margin-bottom: 3.5rem;
}

.thomas p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: hsl(213, 9%, 39%);
  margin-bottom: 4rem;
  line-height: 30px;
}

.thomas h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.jennie {
  margin: 3rem;
  text-align: center;
}

.jennie img {
  width: 25%;
  border-radius: 50%;
  margin-bottom: 4.2rem;
}

.jennie p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: hsl(213, 9%, 39%);
  margin-bottom: 4rem;
  line-height: 30px;
}

.jennie h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.position {
  margin-top: 10px;
}

.gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.gallery img {
  width: 25%;
}

footer {
  background-color: hsl(168, 58%, 63%);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.logo {
  padding-bottom: 1rem;
}

.logo img {
  width: 25vh;
}

.footer-section {
  display: flex;
}

.footer-section ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.footer-section li {
  margin: 2rem;
  color: hsl(167, 40%, 24%);
  cursor: pointer;
  font-size: 19px;
}

.footer-section li:hover {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: #fff;
  transition: ease-in 0.3s;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.social-icons i {
  padding: 15px;
  font-size: 30px;
  color: hsl(167, 40%, 24%);
  cursor: pointer;
}

.fa-brands:hover {
  color: #fff;
  transition: 0.6s;
}

@media screen and (max-width: 375px) {
  .gallery img {
    width: 50%;
  }
  footer {
    width: 100%;
  }
  navbar {
    width: 100%;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 0rem;
  }
  .links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
  }
  .navbar img {
    width: 100%;
  }
  .landing {
    width: 100%;
  }
  .cherry {
    width: 100%;
    height: 100%;
  }
  .cherry p {
    padding: 0;
    margin: 0;
  }
  .cherry h2 {
    padding: 0;
    margin: 0;
  }
  .orange {
    width: 100%;
    height: 100%;
  }
  .orange h2 {
    padding: 0;
    margin: 0;
  }
  .orange p {
    padding: 0;
    margin: 0;
  }

  .landing-sections {
    width: 100%;
    height: 55vh;
  }
  .testimonials {
    width: 100%;
    padding: 0;
  }
  .testimonials h2 {
    padding-top: 4rem;
    letter-spacing: 5px;
    text-align: center;
  }
  .clients {
    width: 50%;
  }
  .row-landing {
    display: flex;
    flex-direction: column;
  }

  .row-landing-02 {
    display: flex;
    flex-direction: column-reverse;
  }
  .row-workspace {
    display: flex;
    flex-direction: column;
  }
  .workspace-sections {
    width: 100%;
    height: 100%;
  }
  .jennie {
    margin: 0;
  }
  .jennie img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  .thomas {
    margin: 0;
  }
  .thomas img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  .emily {
    margin: 0;
  }
  .emily img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  .row-clients {
    display: flex;
    flex-wrap: wrap;
  }
  .egg {
    height: 55%;
  }
  .content h1 {
    text-align: center;
    padding: 0;
  }
  .arrow {
    padding-top: 3rem;
  }
  .section-without-bg-01 {
    margin: 15px;
    text-align: center;
  }
  .section-without-bg-02 {
    margin: 15px;
    text-align: center;
  }
  .background {
    position: absolute;
    width: 100vw;
    height: 80%;
  }
  .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .background-landing {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .background-landing img {
    height: 100%;
    width: 100%;
  }
  header {
    height: 80vh;
  }
  /* .burger {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
  } */
}
